<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Personagens</h1>
       

        <% for (let i = 0; i < personagem[0].length; i++) { %>
        <a href="/detalhar/<%- personagem[1][i] %>" class="btn btn-primary" role="button"><%- personagem[0][i] %></a>
        <BR></BR>
        <% } %>


    </h2>
</body>

</html>